{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}
    <div class="container activity">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 ">
                <div id="activity_calendar" class="m-auto mt-3"></div>
            </div>
            <div class="col-2 mt-3">
                <div class="row mb-2">
                    <div class="col">
                        <a href="{{ path('activity_color') }}" class="btn btn-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <span>Modifier les couleurs</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>Actualisation des données de sommeil</span>
                        <a id="button_refresh_sleep_data" class="btn btn-warning border-dark">
                            <i class="fas fa-sync"></i>
                        </a>
                        <small>Dernière actualisation : {{ last_data_sleep_refresh|date('d/m/Y') }}</small>
                        <a id="warning_cookies" href="{{ url('garmin_connect_cookies') }}" hidden>Mise à jour des cookies nécessaire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="activity_sleep_url" type="hidden" value="{{ url('activity_sleep') }}">
    <input id="garmin_connect_sleep_data_url" type="hidden" value="{{ url('garmin_connect_sleep_data') }}">
    <input id="garmin_connect_update_last_data_sleep_refresh_url" type="hidden" value="{{ url('garmin_connect_update_last_data_sleep_refresh') }}">
    <input id="last_data_sleep_refresh" type="hidden" value="{{ last_data_sleep_refresh }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('garmin') }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('activity_calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                firstDay: 1,
                selectable: true,
                editable: true,
                displayEventTime: true,
                nextDayThreshold: "00:00:00",
                headerToolbar: {
                    left: 'prev,next,today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,listWeek'
                },
                initialView: 'timeGridWeek',
                events: {{ data|raw }},
            });
            calendar.render();
        });
    </script>
{% endblock %}
